/* Styles go here */

.box-container {

	height: 350px;
	border-radius: 50px;
}
.edit_box_containter{
	height: 200px;
}

.draggable-div {
	width: 100%;
	z-index: 1000
}

.panel{
	border-radius: 50px;
	margin-top: 30px;
}
.editable{ 
	height: 50px;
}
.rowDraggable{
	border:1px solid red;
}
.template-draggable .action{
	display: none;
}
.template-dragged .action{
	display: inline;
}
.p-0{
	padding: 0;
}
/* #edit_suggestions{
	position: relative;
}
.edit{
	position: absolute;
	top: 19;
	right: 170;
}
.send{
	position: absolute;
	top: 19;
	right: 50;
}*/